# build artifacts
build/
out/
.vs/
*.user
*.aps

# original research binaries (never commit)
BOOTICEx64.exe
BOOTICEx64.exe.i64
*.id0
*.id1
*.id2
*.nam
*.til
dist/

# AI agents
.trae/

# Internal docs for agents (mainly roadmaps, plans and handovers)
#docs/ # Note: There's still something useful which should not be purged.
